.container {
  margin: 0 auto;
  width: 850px;
  height: 800px;
  background: #FFFFFF;
  padding: 25px;

}
body {
  background-image: url("kitten.jpg");
}

.longpitch {
margin-left: 50px;
margin-right: 50px;
font-size: 20px;
}

h1:hover {
  color: red;
  font-size: 37px;
}

h1{
  color: #FFFF33;
}
a {
  color: #FFFF33;
  font-size: 20px;
}

a:hover {
  color: red;
  font-size: 37px;
}
